footer {
    background-color: black;
    color: #999999;
    min-height: 25vh;
    hr {
        height: 1px;
        background-color: #fff;
        width: 100%;
    }
    p,
    a,
    h3 {
        color: #999999;
    }
}