header {
    color: white;
    #navbar {
        z-index: 999;
        left: 0;
        right: 0;
        top: 0;
        position: fixed;
        width: 90%;
        height: 100px;
        @include dflex(row, space-between, center);
        img {
            width: 10vh;
        }
        a {
            font-size: 1.2rem;
        }
    }
}

#upper-jumbotron {
    color: white;
    height: 100vh;
    margin-top: 30%;
    h1 {
        font-size: 9vw;
    }
}

#upper-jumbo-text::before {
    content: "";
    width: 9%;
    padding: 1px;
    background-color: white;
    position: absolute;
    left: 11%;
    top: 45%;
}