header {
    color: white;
    height: 25vh;
    #navbar {
        z-index: 999;
        left: 0;
        right: 0;
        top: 0;
        position: fixed;
        width: 90%;
        height: 100px;
        @include dflex(row, space-between, center);
        img {
            width: 10vh;
        }
        a {
            font-size: 1.2rem;
        }
    }
}

#upper-jumbotron {
    color: white;
    height: 100vh;
    margin-top: 30%;
    h1 {
        position: relative;
        top: 40%;
        font-size: 8vw;
        &::before {}
    }
    h1:first-child {
        &:before {
            content: "";
            width: 15%;
            padding: 1px;
            background-color: white;
            position: absolute;
            left: -15%;
            top: 60%;
        }
    }
    h1:lastchild {
        margin-bottom: 5%;
    }
}