* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    width: 100%;
}

#animated-bg {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
    opacity: 0.1;
}

a {
    color: #fff;
    &:hover {
        color: #fff;
        text-decoration: underline;
    }
}

.prj-box {
    h2 {
        color: white;
        position: absolute;
        left: 5px;
        top: 10px;
    }
    img {
        width: 100%;
        transition: background-size ease .4s;
    }
    &:hover img {
        opacity: 1;
        -webkit-animation: flash 1.8s;
        animation: flash 1.8s;
        cursor: pointer;
    }
}

.carousel-item {
    max-width: 100%;
}

#modal_wait {
    min-width: 100%;
    margin: 0;
}

#modal_wait .modal-content {
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
}

#modal_wait .modal-dialog {
    min-width: 100%;
    margin: 0;
}

.carousel-description {
    color: white;
    font-size: 1.4rem;
    font-weight: bolder;
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.9;
    z-index: 9999;
}

.close:hover {
    opacity: 1;
    cursor: pointer;
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 9px;
    background-image: url('https://www.wabi.it/img/snow.gif');
    opacity: .32;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

#bottom-jumbotron {
    padding-top: 20%;
    height: 110vh;
    h1 {
        color: white;
        min-width: 100%;
        font-size: 6vw;
        padding-left: 15%;
        &:before {
            content: "";
            padding: 1px;
            width: 8%;
            position: absolute;
            background-color: white;
            top: 30%;
            left: 5%;
        }
    }
    p {
        font-size: 3vh;
    }
}

#clients-title {
    color: #fff;
    font-size: 1.5rem;
}

//FLASH ANIMATION ON PROJECTS HOVER
@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}